@font-face {
	font-family: 'Futura_Extra';
	src: url('Futura_Extra.eot');
	src: 
		url('Futura_Extra.eot?#iefix') format('embedded-opentype'),
		url('Futura_Extra.ttf') format('truetype');
	font-weight: normal;
	font-style: normal;
}

